
<div class="contenedorProduct">
{{#each products}}
<div>
    <p class="productTitle"><strong>{{this.title}}</strong></p>
    <p><strong>Descripción: </strong>{{this.description}}</p>
    <p><strong>Code: </strong>{{this.code}}</p>
    <p><strong>Precio: </strong>{{this.price}}</p>
    <p><strong>Estado: </strong>{{this.status}}</p>
    <p><strong>Stock: </strong>{{this.stock}}</p>
    <p><strong>Categoría: </strong>{{this.category}}</p>
</div>
{{/each}}
</div>
