<div class="contenedorProduct">
    {{#each products}}
    <div class="product">
        <p class="product_title"><strong>{{this.id_product.title}}</strong></p>
        <p><strong>Descripción: </strong>{{this.id_product.description}}</p>
        <p><strong>Precio: </strong>{{this.id_product.price}}</p>
        <p><strong>Categoría: </strong>{{this.id_product.category}}</p>
        <p><strong>Cantidad: </strong>{{this.quantity}}</p>
    </div>
    {{/each}}
    <button type="button" class="btn btn-primary btn-sm" onclick="purchaseCart_Click()">Comprar</button>
</div>